
    <main>
        <form action="" method="POST" class="cat-form">
            <h2>Shelter the cat</h2>
            <img src="{{oneCat.imageUrl}}" alt="">
            <label for="name">Name</label>
            <input type="text" id="name" value="{{oneCat.name}}" disabled>
            <label for="description">Description</label>
            <textarea id="description" disabled>{{oneCat.description}}</textarea>
            <label for="group">Breed</label>
            <select id="group" disabled>
                <option value="{{oneCat.breed}}">{{oneCat.breed}}</option>
            </select>
            <button>SHELTER THE CAT</button>
        </form>
    </main>
